@import "~@styl/config"

.data
  display flex
  justify-content space-between
  align-items flex-start
  width 100%
  max-width 1200px
  margin 40px auto
  .ant-list
    width 100%
  .ant-card
    display flex
    flex-direction column
    flex 1
    .ant-divider
      margin-top 0
      >>> .ant-divider-inner-text
        font-size 14px
  // 左侧 - 输入区域
  .input-area
    .purchaser
      margin-bottom $margin
      .textarea
        display flex
        align-items center
        justify-content space-between
        .ant-input
          margin-right $margin
    .table
      .list
        display flex
        flex-direction column
        padding 0
        margin 0
        .item
          display flex
          align-items center
          margin-bottom $margin
          .label
            display flex
            flex 1
            align-items center
            margin-right $margin
            .text
              display flex
              flex-shrink 0
              justify-content flex-end
              align-items center
              width 60px
              margin-right ($margin /2)
            .ant-input-number
              display flex
              flex 1
            &.select
              flex none
              width 100px
              .ant-select
                display flex
                flex 1
                max-width 100%
          .anticon-delete
            display flex
            flex-shrink 0
            cursor pointer
        // 公摊
        &.share-list
          flex-direction row
          .item
            width 45%
            margin-right $margin
            .label
              margin-right 0
        // 实际支付
        &.actual-list
          .item
            width 45%
            .label
              margin-right 0
      .add
        display flex
        justify-content flex-end
        align-items center
        width 100%
        cursor pointer
    .btn
      display flex
      justify-content flex-end
      align-items center
  // 右侧 - 结果区域
  .result-area
    .result
      display flex
      flex-direction column
      align-items flex-end
      margin-top $margin
      .text
        &:last-child
          margin-bottom 0
        strong
          margin-left ($margin /2)
  // 中间占位符
  .placeholder
    width 10px
    opacity 0

// 手机样式
.mode-mobile
  .data
    flex-direction column
    max-width 100%
    margin 0
    .placeholder
      display none
    .ant-card
      width 100%
      &:first-child
        margin-bottom $margin