#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

body {
  background-color: var(--gbc-c-bg);
}

.ant-layout-content {
  min-height: calc(100vh - 60px - 120px) !important;
  background-color: var(--gbc-c-bg);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  max-width: 100%;
  margin: var(--gbc-w-space) auto;
  .wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: var(--gbc-w-space-xs);
  }
  .form-table {
    .list {
      display: flex;
      flex-direction: column;
      .item {
        display: flex;
        align-items: center;
      }
    }
  }
}
