html {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: var(--gbc-c-bg);
}

#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-layout-content {
  min-height: calc(100vh - 60px - 120px) !important;
  background-color: var(--gbc-c-bg);
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  max-width: 100%;
  margin: var(--gbc-w-space) auto;
  .main-wrap {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: var(--gbc-w-space-xs);
    .form-table {
      .list {
        display: flex;
        flex-direction: column;
        padding: 0;
        .item {
          display: flex;
          align-items: center;
          margin-bottom: var(--gbc-w-space-sm);
          &:last-child {
            margin-bottom: 0;
          }
          .label {
            display: flex;
            align-items: center;
            width: 47%;
            margin-right: var(--gbc-w-space);
            .text {
              display: flex;
              flex-shrink: 0;
              margin-right: 4px;
            }
          }
          .btn-remove {
            color: var(--gbc-c-desc);
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            margin-top: 2px;
            > div {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              span {
                margin-left: var(--gbc-w-space-xs);
              }
              &:hover {
                color: var(--gbc-c-hover);
              }
            }
          }
        }
      }
      .shared-list {
        flex-direction: row;
        margin-bottom: var(--gbc-w-space);
        .item {
          width: 48.5%;
          margin-bottom: 0;
          .label {
            width: 100%;
          }
        }
      }
      .btn-add {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: var(--gbc-c-hover);
        }
        span {
          margin-left: 4px;
        }
      }
    }
    .btn-result {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .result-overview {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: var(--gbc-w-space);
      .line {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: var(--gbc-w-space-xs);
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.platform-mobile {
  .container {
    flex-direction: column;
    margin: 0 auto;
    .main-wrap {
      .form-table {
        .list {
          flex-direction: column;
          .item {
            flex-direction: column;
            width: 100%;
            margin-bottom: var(--gbc-w-space-lg);
            &:last-child {
              margin-bottom: 0;
            }
            .label {
              width: 100%;
              margin-right: 0;
              margin-bottom: var(--gbc-w-space-xs);
            }
            .btn-remove {
              display: flex;
              justify-content: flex-end;
              width: 100%;
              > div {
                &:hover {
                  color: var(--gbc-c-desc);
                }
              }
            }
          }
        }
        .shared-list {
          .item {
            margin-bottom: var(--gbc-w-space-xs);
            &:last-child {
              margin-bottom: 0;
            }
            .label {
              margin-bottom: 0;
            }
          }
        }
        .btn-add {
          &:hover {
            color: var(--gbc-c-text);
          }
        }
      }
    }
  }
}
