:root {
  --gbc-c-blue: #1677ff;
  --gbc-c-light-blue: #4096ff;
  --gbc-c-gray: #999;

  --gbc-c-brand: var(--gbc-c-blue);
  --gbc-c-hover: var(--gbc-c-light-blue);
  --gbc-c-bg: #ffffff;
  --gbc-c-header: #f5f5f5;
  --gbc-c-text: rgba(0, 0, 0, 0.88);
  --gbc-c-desc: var(--gbc-c-gray);

  --gbc-w-space-xs: 8px;
  --gbc-w-space-sm: 16px;
  --gbc-w-space: 24px;
  --gbc-w-space-lg: 32px;

  &.dark {
    --gbc-c-bg: #242424;
    --gbc-c-header: #000000;
    --gbc-c-text: rgba(255, 255, 255, 0.85);
  }
}
