:root {
  --gbc-c-gray: #999;

  --gbc-c-bg: #ffffff;
  --gbc-c-text: rgba(0, 0, 0, 0.88);
  --gbc-c-desc: var(--gbc-c-gray);

  --gbc-w-space: 24px;
  --gbc-w-space-lg: 32px;
}
:root.dark {
  --gbc-c-bg: #242424;
  --gbc-c-text: rgba(255, 255, 255, 0.85);
}

#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

body {
  background-color: var(--gbc-c-bg);
}
